<div class="workout-diary-wrapper">
  <div class="container workout-diary-container">
    <h3>日付を入力してください</h3>
    <div class="row col-md-offset-4">
      <%= form_tag({controller: :workouts, action: :diary},:method => 'get') do %>
        <%= date_select :date, class: "date-select" %> 
        <%= submit_tag '検索' %>
      <% end %>
    </div>
    
    <!--日付-->
    
    
    <!--種目名-->
    <div class= "workout-exercise" >
    
      <!--menu内容のeach文-->
      <% @workouts.each do |menu| %>
        <div class="row">
          <div class="col-md-offset-3 col-md-6 workout-menu">
            <%= "#{menu.set_count}セット目" %> &emsp;
            <%= "#{menu.weight}kg" %> &emsp;
            <%= "#{menu.rep}回" %> &emsp;　<br>
            <%= menu.note %>
          </div>
        </div>  
      <% end %>
    </div>
    
    
    
  </div>
</div>