<div class="workout-diary-wrapper">
  <div class="container workout-diary-container">
    <h3>日付を入力してください</h3>
    <div class="row col-md-offset-4">
      <%= form_tag({controller: :workouts, action: :diary},:method => 'get') do %>
        <%= date_select :date, class: "date-select" %> 
        <%= submit_tag '検索' %>
      <% end %>
    </div>
    
    
  
     <div class="row">
       <div class="col-md-offset-3 col-md-6 workout-menu">
         <%= @day %>
         
         <%  @results.each do |exercise_name, menu_lists| %>
         <h6>----------------------------------------------------------------------</h6>
           <%= "<#{exercise_name}>" %> <br>
           <% menu_lists.each do |menu| %>
           <%= "#{menu["set_count"]}セット目" %> &nbsp;
           <%= "#{menu["weight"]}kg" %> &nbsp;
           <%= "#{menu["rep"]}回" %> &nbsp;
           <%= menu["note"]%><br>
           <% end %>
         <% end %>
         
         
       </div>
     </div>
  </div>
</div>