<div class="workout-new-wrapper">
  <div class="container workout-new-container">
    <h1 class="text">ワークアウトを記録する</h1>
      <%= form_for @workout do |f| %>
        <!--日付入力フォーム-->      
        <div class="row">
          <div class="col-md-offset-4 col-md-4 date-form">
            <%= f.label :date, "日付" ,class:"date-label" %>
            <%= f.date_select :date, class:"date-select" %>
          </div>
        </div>    
        <!--種目入力-->
        <div class="row">
          <div class="col-md-offset-4 col-md-4 exercise-form">
            <%= f.label :exercise_id, "種目名", class:"exercise-label" %>
            <%= f.collection_select :exercise_id, Exercise.all, :id, :name, :prompt => true %>
          </div>
        </div>  
          
          <!--Menu入力-->
          <div class>
            
          </div>
          
          
          
        <!--記録ボタン-->  
        <div class="row">  
          <div class="col-md-offset-4 col-md-4 add-btn">
            <% if logged_in? %>
            <%= f.submit '記録', class: 'btn-block btn-blue' %>
            <% end %>
          </div>
        </div>  
        
      <% end %> 
      </div>
  </div>
</div>