<div class="workout-new-wrapper">
  <div class="container workout-new-container">
    <h1 class="text">ワークアウトを記録する</h1>
      <%= form_for @workout do |f| %>
        <!--日付入力フォーム-->      
        <div class="row">
          <div class="col-md-offset-4 col-md-4 date-form">
            <%= f.label :date, "日付" ,class:"label" %>
            <%= f.date_select :date, class:"date-select" %>
            <!--user_idを飛ばす-->
            <%= f.hidden_field :user_id, value: current_user.id %>
          </div>
        </div>    
        <!--種目入力-->
        <div class="row">
          <div class="col-md-offset-4 col-md-4 exercise-form">
            <%= f.label :exercise_id, "種目名", class:"label" %>
            <%= f.collection_select :exercise_id, Exercise.all, :id, :name, :prompt => true %>
          </div>
        </div>  
        <!--Menu入力-->
        <%= f.fields_for :menus do |i| %>
          <!--セット数-->
          <div class="row">
            <div class="col-md-offset-4 col-md-4">
              <%= i.label :set_count, "セット", class:"label" %>
              <%= i.number_field :set_count, class:"set-form" %>
            </div>
          </div>
          <!--重量-->
          <div class="row">
            <div class="col-md-offset-4 col-md-4">
              <%= i.label :weight, "重　さ", class:"label" %>
              <%= i.number_field :weight, class:"weight-form" %>
            </div>
          </div>
          <!--回数-->
          <div class="row">
            <div class="col-md-offset-4 col-md-4">
              <%= i.label :rep, "回　数", class:"label" %>
              <%= i.number_field :rep, class:"rep-form" %>
            </div>
          </div>  
          <!--メモ-->
          <div class="row">
            <div class="col-md-offset-4 col-md-4">
              <%= i.label :note, "メ　モ", class:"note-label" %>
              <%= i.text_field :note, class:"note-form" %>
            </div>
          </div>    
        <% end %>  
        <!--記録ボタン-->  
        <div class="row">  
          <div class="col-md-offset-4 col-md-4 add-btn">
            <% if logged_in? %>
            <%= f.submit '記録', class: 'btn-block btn-blue' %>
            <% end %>
          </div>
        </div>  
      <% end %> 
  </div>
</div>