<div class="exercise-new-wrapper" >
  <div class="container exercise-new-container">
    <!--種目追加要素-->
    <div class="row">
      <h1>ワークアウト種目を追加する</h1>
      <%= form_for @exercise do |f| %>
        <!--部位入力-->
      <div class="col-md-offset-4 body-form">
        <%= f.label :body_id, "部位",  class:"body-label" %>
        <%= f.collection_select :body_id, Body.all, :id, :name, :prompt => true %>
      </div>
      <!--種目名入力-->
      <div class="col-md-offset-4 col-md-4 ">
        <%= f.label :name, "種目名",  class: 'text' %>
        <%= f.text_field :name, class: 'form-control' , autocomplete: 'off'%>
      </div>
    
        <!--追加ボタン-->
      <div class="col-md-offset-4 col-md-4 add-btn">
        <% if logged_in? %>
        <%= f.submit '追加', class: 'btn-block btn-blue' %>
        <% end %>
      </div>
      <% end %>
    </div> 
  </div>  
  <!--種目一覧-->
  <div class="container exercise-index-container">
    <h1>種目一覧</h1>
    
    
      <div class="row">
        <!--大胸筋-->
        <div class="col-md-3 exercise-index-single">
         <h3><%= '（大胸筋）'  %></h3>
         <% @exercises1.each do |exercise| %>
         <ul class="exercise-name">
           <li><%= exercise.name %></li>
         </ul>
         <% end %>
        </div>
        <!--背筋-->
        <div class="col-md-3 exercise-index-single">
         <h3><%= '（背筋）'  %></h3>
         <% @exercises2.each do |exercise| %>
         <ul class="exercise-name">
           <li><%= exercise.name %></li>
         </ul>
         <% end %>
        </div>
        <!--肩-->
        <div class="col-md-3 exercise-index-single">
         <h3><%= '（肩）'  %></h3>
         <% @exercises3.each do |exercise| %>
         <ul class="exercise-name">
           <li><%= exercise.name %></li>
         </ul>
         <% end %>
        </div>
        <!--上腕三頭筋-->
        <div class="col-md-3 exercise-index-single">
         <h3><%= '（上腕三頭筋）'  %></h3>
         <% @exercises4.each do |exercise| %>
         <ul class="exercise-name">
           <li><%= exercise.name %></li>
         </ul>
         <% end %>
        </div>
      </div>
      
      <div class="row">
        <!--上腕二頭筋-->
        <div class="col-md-3 exercise-index-single">
         <h3><%= '（上腕二頭筋）'  %></h3>
         <% @exercises5.each do |exercise| %>
         <ul class="exercise-name">
           <li><%= exercise.name %></li>
         </ul>
         <% end %>
        </div>
        <!--前腕-->
        <div class="col-md-3 exercise-index-single">
         <h3><%= '（前腕）'  %></h3>
         <% @exercises6.each do |exercise| %>
         <ul class="exercise-name">
           <li><%= exercise.name %></li>
         </ul>
         <% end %>
        </div>
        <!--腹筋-->
        <div class="col-md-3 exercise-index-single">
         <h3><%= '（腹筋）'  %></h3>
         <% @exercises7.each do |exercise| %>
         <ul class="exercise-name">
           <li><%= exercise.name %></li>
         </ul>
         <% end %>
        </div>
        <!--脚-->
        <div class="col-md-3 exercise-index-single">
         <h3><%= '（脚）'  %></h3>
         <% @exercises8.each do |exercise| %>
         <ul class="exercise-name">
           <li><%= exercise.name %></li>
         </ul>
         <% end %>
        </div>
      </div>
  </div>  
</div>