<div class="exercise-new-wrapper" >
  <div class="container exercise-new-container">
    <!--種目追加要素-->
    <div class="row">
      <h1>ワークアウト種目を追加する</h1>
      <%= form_for @exercise do |f| %>
        <!--部位入力-->
      <div class="col-md-offset-4 body-form">
        <%= f.label :body_id, "部位",  class:"body-label" %>
        <%= f.collection_select :body_id, Body.all, :id, :name, :prompt => true %>
      </div>
      <!--種目名入力-->
      <div class="col-md-offset-4 col-md-4 ">
        <%= f.label :name, "種目名",  class: 'text' %>
        <%= f.text_field :name, class: 'form-control' , autocomplete: 'off'%>
      </div>
    
        <!--追加ボタン-->
      <div class="col-md-offset-4 col-md-4 add-btn">
        <% if logged_in? %>
        <%= f.submit '追加', class: 'btn-block btn-blue' %>
        <% end %>
      </div>
      <% end %>
    </div> 
  </div>  
</div>
  
  
  
 
